<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Добавить</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <div class="block">
        <div class="title">
            <p>Добавить</p>
        </div>
        <div class="line">
            <hr style="background-color:#000000;opacity:0.1;">
        </div>
        <form action="~/Person/Add" method="post">
            <div class="valid-error" asp-validation-summary="All"></div>
            <label>Фамилия:</label> <br />
            <input class="form-control" type="text" name="surname" />  <br />
            <label>Имя:</label> <br />
            <input class="form-control" type="text" name="name" />  <br />
            <label>Отчество:</label> <br />
            <input class="form-control" type="text" name="patronymic" />  <br />
            <label>Номер телефона:</label> <br />
            <input class="form-control" type="text" name="phoneNumber" />  <br />
            <label>Долг</label> <br />
            <input class="form-control" type="text" name="credit" />  <br />
            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    </div>
</body>
</html>